#            la db que se usa://usuario:clave@host:puerto/nombre bade de datos  
DATABASE_URL=postgresql://gitpod:postgres@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
